/* general */

*{
  margin: 0;
}

/* classe colori */
.lightgrey{
  color: #5a6d71;
}

.backyellow{
  background-color: rgb(255, 255, 0);
}

.celestino{
  background-color:rgba(34, 173, 243, 0.3) ;
}
/* /classe colori */


/* impaginamento lista non ordinata */
ul{
  padding-left: 0;
  padding-top: 15px;
}
/* /impaginamento lista non ordinata */


/* Propietà tabella */
td{
  width: 33%;
}

th{
  width: 33%;
  text-align: left;
  color: white;
}

th{
  background-color: rgba(34, 173, 243, 0.881);
}

table{
  border-collapse: collapse;
  margin-top: 20px;
}
/* /Propietà tabella */




/* header */
img{
  width: 250px;
  height: 150px;
  margin-top: 50px;
  margin-left: 10px;
}

.background-header{
  background-image: url('../img/pattern.png');
  background-color: #5babe9;
  height: 180px;
}
/* /header */

/* main */

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
}

h1{
  font-size: 3rem;
}


#scrittore-articolo{
  color: #26c9ff ;
}

.container-img1, .container-img2{
 display: inline-block;

}

.container-img1{
  width: 48%;
  height: 463px;
  background-image: url('../img/tim-1.jpg');
  background-size: cover;
}
.container-img2{
  width: 48%;
  height: 463px;
  background-image: url('../img/tim-2.jpg');
  background-size: cover;
}

#descrizione-foto{
  font-size: 0.7rem;
}

.padding-p{
  padding-top: 20px;
}