/* general */
*{
  margin: 0;
}


/* header */
img{
  width: 250px;
  height: 150px;
  margin-top: 50px;
  margin-left: 10px;
}

.background-header{
  background-image: url('../img/pattern.png');
  background-color: #5babe9;
  height: 180px;
}
/* /header */
