/* general */
*{
  margin: 0;
}

.lightgrey{
  color: #5a6d71;
}

/* header */
img{
  width: 250px;
  height: 150px;
  margin-top: 50px;
  margin-left: 10px;
}

.background-header{
  background-image: url('../img/pattern.png');
  background-color: #5babe9;
  height: 180px;
}
/* /header */

/* main */

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 10px;
}

h1{
  font-size: 3rem;
}


#scrittore-articolo{
  color: #26c9ff ;
}